

/* --------------------------------------------- COLOR VARIABLES -------------------------------------------- */


$light-color: white;
$dark-color: #2C3636;
$main-color : #01569B;
$secondary-color : #E65100;
$accent-color : #F1F1F1;

$background-color-light: white;
$background-color-dark: #000000;



/* --------------------------------------------- FONT VARIABLES -------------------------------------------- */


$font: 'Lato', sans-serif;
$font-heading: 'Lato', sans-serif;




/* --------------------------------------------- FONT SIZE VARIABLES -------------------------------------------- */


/* font-size variables */


$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-md: 15px;
$font-size-lg: 24.5px;
$font-size-xl: 42px;


/* --------------------------------------------- SHAPE SIZE VARIABLES -------------------------------------------- */


$circle-dist-xs: 25px;
$circle-dist-sm: 30px;
$circle-dist-md: 50px;
$circle-dist-lg: 150px;
$circle-dist-xl: 225px;


/* --------------------------------------------- FORM ELEMENT VARIABLES -------------------------------------------- */


$input-height: 33px;


/* --------------------------------------------- AESTHETIC VARIABLES -------------------------------------------- */


$opacity-xs: 0.85;
$opacity-sm: 0.70;
$opacity-md: 0.55;
$opacity-lg: 0.40;
$opacity-xl: 0.25;


/* --------------------------------------------- HTML STRUCTURE VARIABLES -------------------------------------------- */


$border-thickness: 2px;

$limit-width-xs: 200px;
$limit-width-sm: 240px;
$limit-width-md: 280px;
$limit-width-lg: 320px;
$limit-width-xl: 360px;

$limit-height-xs: 200px;
$limit-height-sm: 220px;
$limit-height-md: 240px;
$limit-height-lg: 260px;
$limit-height-xl: 280px;
